<?xml version="1.0" encoding="UTF-8"?>
<?define ProductId = "28DB099F-4B2F-4B43-94E8-C3BF471DBFA3"?>
<?define ProductVersion = "0.0.1.0"?>
<?define ProductUpgradeCode = "6756D54F-9AB3-4400-A9ED-DBCD15FC3926"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <?define Classifier_TargetDir=$(var.Classifier.TargetDir)?>

    <Product Id="*" Name="Classifier" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Microsoft" UpgradeCode="$(var.ProductUpgradeCode)">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
        <MediaTemplate EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="ProgramGroup" Name="LandmarkDevs">
                    <Directory Id="INSTALLDIR" Name="Classifier">
                        <Directory Id="SQLSERVERTYPES" Name="SqlServerTypes">
                            <Directory Id="SQLSERVERTYPESX64" Name="x64">
                            </Directory>
                        </Directory>
                        <Directory Id="X64CVDIR" Name="x64">
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="LandmarkDevs" />
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="32D1D413-67E5-40C6-83F8-2EBF1023F9FE">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="Classifier" Description="Classifier" Target="[#Classifier.exe]" WorkingDirectory="INSTALLDIR" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\LandmarkDevs\Classifier" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="DesktopFolder">
            <Component Id="ApplicationShortcutDesktop" Guid="E794355D-6C7D-4810-BD12-4594B8B48526">
                <Shortcut Id="ApplicationDesktopShortcut" Name="Classifier" Description="Classifier" Target="[#Classifier.exe]" WorkingDirectory="INSTALLDIR" />
                <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\LandmarkDevs\Classifier" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <Upgrade Id="$(var.ProductUpgradeCode)">
            <UpgradeVersion OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="yes" Minimum="0.0.0.1" Maximum="$(var.ProductVersion)" Property="PREVIOUSVERSIONSINSTALLED" />
            <UpgradeVersion OnlyDetect="yes" IncludeMinimum="no" Minimum="$(var.ProductVersion)" Property="NEWERVERSIONDETECTED" />
        </Upgrade>
        <CustomActionRef Id="WixExitEarlyWithSuccess" />
        <WixVariable Id="WixUILicenseRtf" Value="EULA.rtf" />
        <Icon Id="icon.ico" SourceFile="$(var.ProjectDir)Icon.ico" />
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <UIRef Id="WixUI_InstallDir" />

        <PropertyRef Id="WIXNETFX4RELEASEINSTALLED" />
        <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED" />

        <Condition Message="This application requires .NET Framework 4.6.2. Please install the .NET Framework then run this installer again.">
            <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED]]>
        </Condition>

        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallValidate" />
        </InstallExecuteSequence>

        <Feature Id="ProductFeature" Title="Classifier" Level="1">
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="ApplicationShortcutDesktop" />
            <ComponentGroupRef Id="INSTALLDIR_files" />
            <ComponentGroupRef Id="X64CV_files" />
            <ComponentGroupRef Id="SQLSERVERTYPESX64_files" />
        </Feature>
    </Product>

    <Fragment>
        <ComponentGroup Id="INSTALLDIR_files" Directory="INSTALLDIR">
            <Component Id="Classifier.exe" Guid="21404b06-f18f-4cd2-b1b0-0c5dd9f5f02a">
                <File Id="Classifier.exe" Name="Classifier.exe" Source="$(var.Classifier_TargetDir)Classifier.exe" />
            </Component>
            <Component Id="Classifier.exe.config" Guid="4e14e43e-6a7b-4cf5-851e-2dbef89340f5">
                <File Id="Classifier.exe.config" Name="Classifier.exe.config" Source="$(var.Classifier_TargetDir)Classifier.exe.config" />
            </Component>
            <Component Id="ClosedXML.dll" Guid="7a68585f-f07d-4939-9995-8ed69666cf26">
                <File Id="ClosedXML.dll" Name="ClosedXML.dll" Source="$(var.Classifier_TargetDir)ClosedXML.dll" />
            </Component>
            <Component Id="DocumentFormat.OpenXml.dll" Guid="32c813ad-444f-4809-a98c-5ba816387768">
                <File Id="DocumentFormat.OpenXml.dll" Name="DocumentFormat.OpenXml.dll" Source="$(var.Classifier_TargetDir)DocumentFormat.OpenXml.dll" />
            </Component>
            <Component Id="Dragablz.dll" Guid="f2f28483-46c0-4074-97ce-d32405171500">
                <File Id="Dragablz.dll" Name="Dragablz.dll" Source="$(var.Classifier_TargetDir)Dragablz.dll" />
            </Component>
            <Component Id="Emgu.CV.UI.dll" Guid="c3deab1e-71f7-4a1c-b8ec-5bfdb2ccc40d">
                <File Id="Emgu.CV.UI.dll" Name="Emgu.CV.UI.dll" Source="$(var.Classifier_TargetDir)Emgu.CV.UI.dll" />
            </Component>
            <Component Id="Emgu.CV.World.dll" Guid="c359882e-fc53-4fd6-bc50-e071bec5bef3">
                <File Id="Emgu.CV.World.dll" Name="Emgu.CV.World.dll" Source="$(var.Classifier_TargetDir)Emgu.CV.World.dll" />
            </Component>
            <Component Id="EntityFramework.dll" Guid="db728219-8d1c-4ca3-88dc-219dbbbeddba">
                <File Id="EntityFramework.dll" Name="EntityFramework.dll" Source="$(var.Classifier_TargetDir)EntityFramework.dll" />
            </Component>
            <Component Id="EntityFramework.SqlServer.dll" Guid="35deaedf-f4ba-4931-84b4-86b8ef7e01d0">
                <File Id="EntityFramework.SqlServer.dll" Name="EntityFramework.SqlServer.dll" Source="$(var.Classifier_TargetDir)EntityFramework.SqlServer.dll" />
            </Component>
            <Component Id="FastMember.Signed.dll" Guid="1f8e8e58-ad03-44ca-b342-3c1bdd6e4988">
                <File Id="FastMember.Signed.dll" Name="FastMember.Signed.dll" Source="$(var.Classifier_TargetDir)FastMember.Signed.dll" />
            </Component>
            <Component Id="LandmarkDevs.Core.Infrastructure.dll" Guid="4e70d889-42b4-4071-9d1b-faf70af94773">
                <File Id="LandmarkDevs.Core.Infrastructure.dll" Name="LandmarkDevs.Core.Infrastructure.dll" Source="$(var.Classifier_TargetDir)LandmarkDevs.Core.Infrastructure.dll" />
            </Component>
            <Component Id="LandmarkDevs.Core.Shared.dll" Guid="ccf1fac2-54e7-4f0e-9b06-b0facd898697">
                <File Id="LandmarkDevs.Core.Shared.dll" Name="LandmarkDevs.Core.Shared.dll" Source="$(var.Classifier_TargetDir)LandmarkDevs.Core.Shared.dll" />
            </Component>
            <Component Id="LandmarkDevs.UI.Material.dll" Guid="e608e263-e5a4-45d5-9924-6421142bd7a7">
                <File Id="LandmarkDevs.UI.Material.dll" Name="LandmarkDevs.UI.Material.dll" Source="$(var.Classifier_TargetDir)LandmarkDevs.UI.Material.dll" />
            </Component>
            <Component Id="MaterialDesignColors.dll" Guid="286c36e8-badf-49fb-a080-c182a1d44878">
                <File Id="MaterialDesignColors.dll" Name="MaterialDesignColors.dll" Source="$(var.Classifier_TargetDir)MaterialDesignColors.dll" />
            </Component>
            <Component Id="MaterialDesignThemes.Wpf.dll" Guid="a9b4b3f5-1cf9-4dfc-a24a-16ee3d58360f">
                <File Id="MaterialDesignThemes.Wpf.dll" Name="MaterialDesignThemes.Wpf.dll" Source="$(var.Classifier_TargetDir)MaterialDesignThemes.Wpf.dll" />
            </Component>
            <Component Id="Microsoft.Practices.ServiceLocation.dll" Guid="92bd03ac-7165-44cc-ad63-4fe1df9af0a2">
                <File Id="Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.Classifier_TargetDir)Microsoft.Practices.ServiceLocation.dll" />
            </Component>
            <Component Id="Microsoft.WindowsAPICodePack.dll" Guid="3fb32894-a628-4fe1-8c7c-f8115938908e">
                <File Id="Microsoft.WindowsAPICodePack.dll" Name="Microsoft.WindowsAPICodePack.dll" Source="$(var.Classifier_TargetDir)Microsoft.WindowsAPICodePack.dll" />
            </Component>
            <Component Id="Microsoft.WindowsAPICodePack.Shell.dll" Guid="5b0a9635-859d-4eff-bd7d-876920670baf">
                <File Id="Microsoft.WindowsAPICodePack.Shell.dll" Name="Microsoft.WindowsAPICodePack.Shell.dll" Source="$(var.Classifier_TargetDir)Microsoft.WindowsAPICodePack.Shell.dll" />
            </Component>
            <Component Id="MoreLinq.dll" Guid="cd1b4d0a-8549-4968-9662-fe2439f56b9e">
                <File Id="MoreLinq.dll" Name="MoreLinq.dll" Source="$(var.Classifier_TargetDir)MoreLinq.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.dll" Guid="66b85471-3a3c-4f86-8f7c-e555ee0cdc4d">
                <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.Classifier_TargetDir)Newtonsoft.Json.dll" />
            </Component>
            <Component Id="NLog.dll" Guid="c7dd7429-88cc-4928-b44e-855dfbf1d081">
                <File Id="NLog.dll" Name="NLog.dll" Source="$(var.Classifier_TargetDir)NLog.dll" />
            </Component>
            <Component Id="Prism.dll" Guid="1b2551c4-a2b5-4c3e-ada2-916bec5749d4">
                <File Id="Prism.dll" Name="Prism.dll" Source="$(var.Classifier_TargetDir)Prism.dll" />
            </Component>
            <Component Id="Prism.Wpf.dll" Guid="916087c6-3790-4b3e-9c5d-6cb0a294ab49">
                <File Id="Prism.Wpf.dll" Name="Prism.Wpf.dll" Source="$(var.Classifier_TargetDir)Prism.Wpf.dll" />
            </Component>
            <Component Id="Syncfusion.Compression.Base.dll" Guid="700e2712-7911-4de2-8705-fc8d3d6df76c">
                <File Id="Syncfusion.Compression.Base.dll" Name="Syncfusion.Compression.Base.dll" Source="$(var.Classifier_TargetDir)Syncfusion.Compression.Base.dll" />
            </Component>
            <Component Id="Syncfusion.Core.dll" Guid="3900f3b7-2b62-4356-a0f4-99310cdc77eb">
                <File Id="Syncfusion.Core.dll" Name="Syncfusion.Core.dll" Source="$(var.Classifier_TargetDir)Syncfusion.Core.dll" />
            </Component>
            <Component Id="Syncfusion.Data.WPF.dll" Guid="dd5c3a2c-3f31-4863-b6d6-345cf43aeefa">
                <File Id="Syncfusion.Data.WPF.dll" Name="Syncfusion.Data.WPF.dll" Source="$(var.Classifier_TargetDir)Syncfusion.Data.WPF.dll" />
            </Component>
            <Component Id="Syncfusion.Linq.Base.dll" Guid="05566ac5-b30c-49f9-ada6-c5e9e667c582">
                <File Id="Syncfusion.Linq.Base.dll" Name="Syncfusion.Linq.Base.dll" Source="$(var.Classifier_TargetDir)Syncfusion.Linq.Base.dll" />
            </Component>
            <Component Id="Syncfusion.Pdf.Base.dll" Guid="35fd05d1-93ec-4132-8bf6-46c9ecf35b08">
                <File Id="Syncfusion.Pdf.Base.dll" Name="Syncfusion.Pdf.Base.dll" Source="$(var.Classifier_TargetDir)Syncfusion.Pdf.Base.dll" />
            </Component>
            <Component Id="Syncfusion.Pdf.Windows.dll" Guid="d3436de0-e5de-428a-945d-115ee8e9232c">
                <File Id="Syncfusion.Pdf.Windows.dll" Name="Syncfusion.Pdf.Windows.dll" Source="$(var.Classifier_TargetDir)Syncfusion.Pdf.Windows.dll" />
            </Component>
            <Component Id="Syncfusion.Pdf.WPF.dll" Guid="f5a30c30-55c4-4d6b-9551-1c1d3e8053a7">
                <File Id="Syncfusion.Pdf.WPF.dll" Name="Syncfusion.Pdf.WPF.dll" Source="$(var.Classifier_TargetDir)Syncfusion.Pdf.WPF.dll" />
            </Component>
            <Component Id="Syncfusion.PdfViewer.Windows.dll" Guid="35f0ff5a-5c6e-4a5a-8f5f-0228aa01b402">
                <File Id="Syncfusion.PdfViewer.Windows.dll" Name="Syncfusion.PdfViewer.Windows.dll" Source="$(var.Classifier_TargetDir)Syncfusion.PdfViewer.Windows.dll" />
            </Component>
            <Component Id="Syncfusion.PdfViewer.WPF.dll" Guid="835bc116-006d-4fd6-8328-216792262bac">
                <File Id="Syncfusion.PdfViewer.WPF.dll" Name="Syncfusion.PdfViewer.WPF.dll" Source="$(var.Classifier_TargetDir)Syncfusion.PdfViewer.WPF.dll" />
            </Component>
            <Component Id="Syncfusion.SfShared.WPF.dll" Guid="1a1f6414-a11a-4548-9a02-f322d6f3d1ca">
                <File Id="Syncfusion.SfShared.WPF.dll" Name="Syncfusion.SfShared.WPF.dll" Source="$(var.Classifier_TargetDir)Syncfusion.SfShared.WPF.dll" />
            </Component>
            <Component Id="Syncfusion.Shared.Base.dll" Guid="ff3c4d10-58fb-4e3a-aa54-dc8c67eddae8">
                <File Id="Syncfusion.Shared.Base.dll" Name="Syncfusion.Shared.Base.dll" Source="$(var.Classifier_TargetDir)Syncfusion.Shared.Base.dll" />
            </Component>
            <Component Id="Syncfusion.Shared.Windows.dll" Guid="56aed6a1-dfa1-4929-97f5-e1343d76df25">
                <File Id="Syncfusion.Shared.Windows.dll" Name="Syncfusion.Shared.Windows.dll" Source="$(var.Classifier_TargetDir)Syncfusion.Shared.Windows.dll" />
            </Component>
            <Component Id="Syncfusion.Shared.WPF.dll" Guid="beb3bf0b-6419-4791-a9d6-f935b1ac4488">
                <File Id="Syncfusion.Shared.WPF.dll" Name="Syncfusion.Shared.WPF.dll" Source="$(var.Classifier_TargetDir)Syncfusion.Shared.WPF.dll" />
            </Component>
            <Component Id="System.IO.FileSystem.Primitives.dll" Guid="d5efdff0-b433-4301-8138-c302c8ac6e5b">
                <File Id="System.IO.FileSystem.Primitives.dll" Name="System.IO.FileSystem.Primitives.dll" Source="$(var.Classifier_TargetDir)System.IO.FileSystem.Primitives.dll" />
            </Component>
            <Component Id="System.IO.Packaging.dll" Guid="22db8a99-064e-4b2e-89f6-c453a940089b">
                <File Id="System.IO.Packaging.dll" Name="System.IO.Packaging.dll" Source="$(var.Classifier_TargetDir)System.IO.Packaging.dll" />
            </Component>
            <Component Id="System.ValueTuple.dll" Guid="5d948f09-41ad-4f37-8ff3-af4cc672c6fe">
                <File Id="System.ValueTuple.dll" Name="System.ValueTuple.dll" Source="$(var.Classifier_TargetDir)System.ValueTuple.dll" />
            </Component>
            <Component Id="System.Windows.Interactivity.dll" Guid="9b947158-c12b-4201-a36b-e9a271d936b1">
                <File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.Classifier_TargetDir)System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="ZedGraph.dll" Guid="5f5864e2-3957-42b3-8ae4-31c3b8ab37fa">
                <File Id="ZedGraph.dll" Name="ZedGraph.dll" Source="$(var.Classifier_TargetDir)ZedGraph.dll" />
            </Component>
            <Component Id="x64_concrt140.dll1" Guid="1CE4CE69-3A8E-4275-8CF9-EF290B699578">
                <File Id="x64_concrt140.dll1" Name="concrt140.dll" Source="$(var.Classifier_TargetDir)x64\concrt140.dll" />
            </Component>
            <Component Id="x64_cvextern.dll1" Guid="EC029737-F6F3-4B75-94EF-82ADE2B7E178">
                <File Id="x64_cvextern.dll1" Name="cvextern.dll" Source="$(var.Classifier_TargetDir)cvextern.dll" />
            </Component>
            <Component Id="x64_cvextern.lib1" Guid="53657B45-EF7F-412E-BA4A-B42390A797D2">
                <File Id="x64_cvextern.lib1" Name="cvextern.lib" Source="$(var.Classifier_TargetDir)cvextern.lib" />
            </Component>
            <Component Id="x64_msvcp140.dll1" Guid="B73E5A07-1F1C-411E-B797-26722734B568">
                <File Id="x64_msvcp140.dll1" Name="msvcp140.dll" Source="$(var.Classifier_TargetDir)msvcp140.dll" />
            </Component>
            <Component Id="x64_opencv_ffmpeg330_64.dll1" Guid="9845E8F0-8886-40DE-BC11-2CB32331B818">
                <File Id="x64_opencv_ffmpeg330_64.dll1" Name="opencv_ffmpeg330_64.dll" Source="$(var.Classifier_TargetDir)opencv_ffmpeg330_64.dll" />
            </Component>
            <Component Id="x64_vcruntime140.dll1" Guid="C5EBBA1A-F49F-4399-86B4-F2B5946CDCC4">
                <File Id="x64_vcruntime140.dll1" Name="vcruntime140.dll" Source="$(var.Classifier_TargetDir)vcruntime140.dll" />
            </Component>
            <Component Id="Microsoft.AI.ServerTelemetryChannel.dll" Guid="bb8ef817-3f4f-4829-8d29-e93bd3126511">
              <File Id="Microsoft.AI.ServerTelemetryChannel.dll" Name="Microsoft.AI.ServerTelemetryChannel.dll" Source="$(var.Classifier_TargetDir)Microsoft.AI.ServerTelemetryChannel.dll" />
            </Component>
            <Component Id="Microsoft.AI.PerfCounterCollector.dll" Guid="41c23598-73e3-4d4c-8b7e-f3b33b2c6d0b">
              <File Id="Microsoft.AI.PerfCounterCollector.dll" Name="Microsoft.AI.PerfCounterCollector.dll" Source="$(var.Classifier_TargetDir)Microsoft.AI.PerfCounterCollector.dll" />
            </Component>
            <Component Id="Microsoft.AI.DependencyCollector.dll" Guid="e3af1bf4-824e-4224-9c8a-081697bcc8a4">
              <File Id="Microsoft.AI.DependencyCollector.dll" Name="Microsoft.AI.DependencyCollector.dll" Source="$(var.Classifier_TargetDir)Microsoft.AI.DependencyCollector.dll" />
            </Component>
            <Component Id="Microsoft.ApplicationInsights.dll" Guid="938b3174-48f3-490e-8ce2-71d912313707">
              <File Id="Microsoft.ApplicationInsights.dll" Name="Microsoft.ApplicationInsights.dll" Source="$(var.Classifier_TargetDir)Microsoft.ApplicationInsights.dll" />
            </Component>
            <Component Id="System.Diagnostics.DiagnosticSource.dll" Guid="be1939d8-7eba-40fc-9732-4a0879157afb">
              <File Id="System.Diagnostics.DiagnosticSource.dll" Name="System.Diagnostics.DiagnosticSource.dll" Source="$(var.Classifier_TargetDir)System.Diagnostics.DiagnosticSource.dll" />
            </Component>
            <Component Id="Microsoft.AI.Agent.Intercept.dll" Guid="a4533744-1a10-4bb3-b327-27926b6f3863">
              <File Id="Microsoft.AI.Agent.Intercept.dll" Name="Microsoft.AI.Agent.Intercept.dll" Source="$(var.Classifier_TargetDir)Microsoft.AI.Agent.Intercept.dll" />
            </Component>
            <Component Id="Microsoft.HockeyApp.Kit.dll" Guid="72a79c7d-0096-4143-8dee-f8d8e1686308">
              <File Id="Microsoft.HockeyApp.Kit.dll" Name="Microsoft.HockeyApp.Kit.dll" Source="$(var.Classifier_TargetDir)Microsoft.HockeyApp.Kit.dll" />
            </Component>
            <Component Id="Microsoft.HockeyApp.Core45.dll" Guid="a2949c8e-324e-47e6-9346-57da8426834c">
              <File Id="Microsoft.HockeyApp.Core45.dll" Name="Microsoft.HockeyApp.Core45.dll" Source="$(var.Classifier_TargetDir)Microsoft.HockeyApp.Core45.dll" />
            </Component>
            <Component Id="Microsoft.AI.WindowsServer.dll" Guid="b9ae65b4-d1ac-4741-9381-d859243c3575">
              <File Id="Microsoft.AI.WindowsServer.dll" Name="Microsoft.AI.WindowsServer.dll" Source="$(var.Classifier_TargetDir)Microsoft.AI.WindowsServer.dll" />
            </Component>
            <Component Id="LandmarkDevs.Core.Telemetry.dll" Guid="050404ad-c417-4c26-a25c-5c310e02733e">
              <File Id="LandmarkDevs.Core.Telemetry.dll" Name="LandmarkDevs.Core.Telemetry.dll" Source="$(var.Classifier_TargetDir)LandmarkDevs.Core.Telemetry.dll" />
            </Component>
        </ComponentGroup>
        
        <ComponentGroup Id="X64CV_files" Directory="X64CVDIR">
            <Component Id="x64_concrt140.dll" Guid="38b5c8a5-e2ab-4503-9406-61d91a73052b">
                <File Id="x64_concrt140.dll" Name="concrt140.dll" Source="$(var.Classifier_TargetDir)x64\concrt140.dll" />
            </Component>
            <Component Id="x64_cvextern.dll" Guid="0f6888c8-a6b4-4aed-8979-558d101d4891">
                <File Id="x64_cvextern.dll" Name="cvextern.dll" Source="$(var.Classifier_TargetDir)x64\cvextern.dll" />
            </Component>
            <Component Id="x64_cvextern.lib" Guid="15ab112b-0162-4ad4-9478-f49787e9bc01">
                <File Id="x64_cvextern.lib" Name="cvextern.lib" Source="$(var.Classifier_TargetDir)x64\cvextern.lib" />
            </Component>
            <Component Id="x64_msvcp140.dll" Guid="e5fe7c7d-f119-4814-b4ec-8c944a9f17a3">
                <File Id="x64_msvcp140.dll" Name="msvcp140.dll" Source="$(var.Classifier_TargetDir)x64\msvcp140.dll" />
            </Component>
            <Component Id="x64_opencv_ffmpeg330_64.dll" Guid="d04b2ab3-a0fd-442a-8e8b-094ffca707bc">
                <File Id="x64_opencv_ffmpeg330_64.dll" Name="opencv_ffmpeg330_64.dll" Source="$(var.Classifier_TargetDir)x64\opencv_ffmpeg330_64.dll" />
            </Component>
            <Component Id="x64_vcruntime140.dll" Guid="aef55e57-1db2-4d2f-ad7f-3802fee0cacb">
                <File Id="x64_vcruntime140.dll" Name="vcruntime140.dll" Source="$(var.Classifier_TargetDir)x64\vcruntime140.dll" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="SQLSERVERTYPESX64_files" Directory="SQLSERVERTYPESX64">
            <Component Id="SqlServerTypes_x64_msvcr120.dll" Guid="a474dd23-9bd1-438b-8de8-f802d39d5470">
                <File Id="SqlServerTypes_x64_msvcr120.dll" Name="msvcr120.dll" Source="$(var.Classifier_TargetDir)SqlServerTypes\x64\msvcr120.dll" />
            </Component>
            <Component Id="SqlServerTypes_x64_SqlServerSpatial140.dll" Guid="720f11b0-fc2c-4732-9739-c32716e9ceb9">
                <File Id="SqlServerTypes_x64_SqlServerSpatial140.dll" Name="SqlServerSpatial140.dll" Source="$(var.Classifier_TargetDir)SqlServerTypes\x64\SqlServerSpatial140.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
