<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <!--<add name="ClassifierDatabase"
         connectionString="Server=(localdb)\mssqllocaldb;Database=ClassifierDb;Trusted_Connection=True;" />-->
    <add name="ClassifierDatabase" connectionString="Server=300-2771\CSSQLSERVER;Database=ClassifierDb;User Id=psuser;Password=1Yokogawa;Trusted_Connection=True;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ClosedXML" publicKeyToken="fd1eb21b62ae805b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.90.0.0" newVersion="0.90.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>